/* you can add to or change this. */
body{
  background-color: #2c3e50;
}

.score {
  left:0;
}

#scoreboard {
  display: block;
  margin:auto;
  top: 0;
  background-color: #2c3e50;
  color: #DFDBE5;
  will-change: transform;
}

.scoreboard {
  font-size: 1.25rem;
  font-family: sans-serif;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.scoreboard.move {
  position: relative;
  z-index: 0;
  width: fit-content;
  height: auto;
  background-image: none;
}
#game-board{
  margin-top: 1rem;
  text-shadow: 2px 2px 0 #000;
  box-shadow: 5px 3px 3px #212121;
  padding: .5rem 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.12' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

span {
  white-space: nowrap;
  padding: 0 0.75rem;
  font-size: 1.5rem;
}

.landing-page {
  display: block;
  border: dashed 4px #ecf0f1;
  margin: 20% auto 0 auto;
  padding: 1.5rem 2rem;
  height: fit-content;
  width: fit-content;
  background-color: #2c3e50;
  text-align: center;
  text-shadow: 2px 2px 0 #000;
}

.landing-page h1 {
  font-size: 3rem;
  margin-top: 0;
}

#start-btn {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 10px 40px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}
#start-btn:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}


#start-btn:focus-visible{
    outline-offset: 1px;
}


#start-btn p {
  margin: 0 auto 0 auto;
}

#play-again {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

#play-again:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

#game {
  max-width: 736px;
  position: relative;
  margin: auto;
}

#game h1 {
  color: white;
  margin: auto;
}
#game div {
  border: 2px solid white;
  border-radius: 5px;
  width: 100px;
  height: 150px;
  margin: 20px;
  display: inline-block;
  box-shadow: 5px 3px 3px #212121;
  cursor: pointer;
}

.win {
  display: none;
}

.win.show {
  font-family: sans-serif;
  display: block;
  z-index: 5;
  position: absolute;
  top: 20%;
  width: 100%;
  height: 10rem;
  padding: 2rem 0;
  justify-content: center;
  background-color: #2980b9;
  color: #ecf0f1;;
  text-align: center;
  border-top: solid 10px #ecf0f1;
  border-bottom: solid 10px #ecf0f1;
  box-shadow: 0 0 100px 500px #212121de;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.win.show h1 {
  margin: 5px auto;
  font-size: 4rem;
}

.win.show p {
  margin: 0 auto 1.5rem auto;
}

#down {
  background-color: #34495e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.51' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: background-color 0.8s, transform 0.8s;
  transform: none;
}

[class^=red] {
  transition: transform 0.8s, background-color 0.9s;
  transform: rotateY(180deg);
  background-color: #e74c3c;
}

[class^=blue] {
  transition: transform 0.8s, background-color 0.9s;
  transform: rotateY(180deg);
  background-color: #3498db;
}

[class^=green] {
  transition: transform 0.8s, background-color 0.9s;
  transform: rotateY(180deg);
  background-color: #2ecc71;
}

[class^=orange] {
  transition: transform 0.8s, background-color 0.9s;
  transform: rotateY(180deg);
  background-color: #f39c12;
}

[class^=purple] {
  transition: transform 0.8s, background-color 0.9s;
  transform: rotateY(180deg);
  background-color: #9b59b6;
}

